<h1>Leave Summary</h1>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Leave Summary</li>
    </ol>
</nav>

<br>

<div class="col-12 d-flex justify-content-end">
    <form class='d-flex col-4' method="POST" action="/" novalidate>
        <input class='form-control' type='text' placeholder='Search Name of Employee' name="search"
            aria-label='Search Name of Employee' id="myInputleave" onkeyup="myFunctionLeaveSummary()" />
    </form>
</div>

<div class="table-responsive">
    <table class="table table-bordered table-striped" id="leave_table_summary">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col" onclick="sorting(tbody01, 1)" style="width: auto !important">Emp_ID<span
                        style="white-space: nowrap;"><i class="fa fa-fw fa-sort"></span></i></span></th>
                <th scope="col" onclick="sorting(tbody01, 2)" style="width: auto !important">Full Name<span
                        style="white-space: nowrap;"><i class="fa fa-fw fa-sort"></span></i></span></th>
                <th scope="col" onclick="sorting(tbody01, 3)" style="width: auto !important">Position<span
                        style="white-space: nowrap;"><i class="fa fa-fw fa-sort"></span></i></span></th>
                <th scope="col" onclick="sorting(tbody01, 4)" style="width: auto !important">Appointment<span
                        style="white-space: nowrap;"><i class="fa fa-fw fa-sort"></span></i></span></th>
                <th scope="col" onclick="sorting(tbody01, 5)" style="width: auto !important">Type of Leave<span
                        style="white-space: nowrap;"><i class="fa fa-fw fa-sort"></span></i></span></th>
                <th scope="col" onclick="sorting(tbody01, 6)" style="width: auto !important">Number of Days<span
                        style="white-space: nowrap;"><i class="fa fa-fw fa-sort"></span></i></span></th>
            </tr>
        </thead>
        <tbody id="tbody01">
            {{#each rows}}
            <tr>
                <th scope="row" class="create_index">{{@index}}</th>
                <td>{{this.emp_id}}</td>
                <td>{{this.first_name}} {{this.middle_name}} {{this.last_name}}</td>
                <td>{{this.position}}</td>
                <td>{{this.appointment}}</td>
                <td>{{this.leave_type}}</td>
                <td>{{this.num_days}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    <div class="card">
        <div class="col-12 d-flex justify-content-end">
            <h5 class="m-2"><span id="val"></span></h4>
        </div>
    </div>
</div>